html {
  /* color */

  /* z-index */
  --z-top-max: 400;
  --z-top-mid: 300;
  --z-top-bot: 200;
  --z-mid: 100;
  --z-bottom: -100;

  /* time */
  --t-extra-slow: 0.5s;
  --t-slow: 0.3s;
  --t-middle: 0.2s;
  --t-fast: 0.1s;
  /*  */
}

*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
  text-wrap: balance;
}

body {
  position: relative;

  font-family: "Mona-Sans", sans-serif;
  color: hsl(4, 49%, 16%);
  background-color: hsl(42, 16%, 84%);
  background-image: url(../../../public/img/icon/noise-light.png);
  background-size: auto;
  scroll-behavior: smooth;
}

a {
  color: hsl(var(--c-a-defalut));
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

p {
  line-height: 1.4em;
}

samp {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;
  display: flex;
  row-gap: 0.5em;
  -moz-column-gap: 0.5em;
  column-gap: 0.5em;
}

.section {
  height: 100vh;
  padding: 4em 0;
}

.container {
  max-width: 21em;
  margin-inline: auto;
}
/*  --------------------------  */
